*{
	margin: 0;
	padding: 0;
}



::-webkit-scrollbar {
  display: none;
 /*hides scroll bar but keeps the fuctionality*/
}

body {
	background-color: black;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


#nav{
	width: 100%;
	height: 40px;
	background-color: black;
	position: fixed;
	text-align: center;
	top: 0;
	z-index: 1000;
}

#nav p{
	
	color: #B5B9C5 /*#93969D /*#F5B041*/;
	font-size: 1.7em;
	font-family: "IM Fell Double Pica" ,"IM Fell English" , serif;
	font-style: italic;
	padding-top: 3px;
}


#page1{
	width: 100%;
	height: 1000px;
	background-image: linear-gradient(#0C0D12 ,#0E1017,#161B26 ,#252C3F ,#293146  );
	
}

#name{
	position: relative;
	top: 80px;
	width: 70%;
	height: 800px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	/*margin-top: 60px;
	background-color: white;*/

}

#name p{
	text-align: center;
	margin-bottom: 0px;
	font-size: 1.2em;
	font-family: "Work Sans", serif; 
	color: #93969D /*#F5B041*/;

}

#name h1{
	text-align: center;
	margin-top: 0;
	font-size: 10em;
	font-weight: bolder;
	color: white;
	font-family: "Staatliches","Work Sans", serif;
	margin-bottom: 0;
	letter-spacing: 0.12em;
}

#name h3{
	text-align: center;
	margin-top: 0;
	color: white;
	font-family: "Nova Flat","Work Sans" ,serif;
	color: #B5B9C5 /*#F5B041*/;
	letter-spacing: 0.1em;
}

#plus p{
	text-align: center;
	color: black;
	font-size: 1.7em;
}

#profilepic img{
	
	width: 20%;
	height: 20%;
	margin-top: 3.7%;
	margin-bottom: 3.7%;
}

#blackstrip{
	width: 100%;
	height: 100px;
	background-color: black;
	margin: 0;
	padding: 0;
}

#vbg{
	width: 100%;
	background-image: url('video-bg03.jpg');
	/*background-size: cover; */
	text-align: center;
	height: 100%;

	  /* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#vbg video{
	
	height: 65%;
	width: 65%;
	margin-bottom: 10%; 
	margin-top:10%;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
/*-------------------------------------------------------------*/

#page2{
	margin-top: 0;
	padding-top: 0;
	width: 100%;
	background-image: linear-gradient(#293146 ,#252C3F ,#161B26 ,#0E1017,#0C0D12  );
}

.hideme
{
    opacity:0;
}

#aboutme{
	width: 60%;
	height: 60%;
	text-align: center;
	background-color: black;
	margin-right: 20%; 
	margin-left: 20%;
}

#aboutme h1{
	font-family: "Staatliches","Work Sans", serif;
	font-size: 7em;
	letter-spacing: 0.10em;
	font-weight: bold;
	color: white/*#B5B9C5*/;
}

#aboutme p{
	text-align: justify;
	font-size: 1.5em;
	color: #D0D3D4/*#ECF0F1 #D4AC0D*/;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 5%;
	padding-bottom: 7%;
	font-family: "Overpass","Work Sans", serif;
	font-style: italic;
}
/*-------------------------------------------------------------*/

.container{
	margin-top: 7%;
	background-image: linear-gradient(#000000,#0B0B0B,#141414,#1E1E1E);
}

#tile1 {position: relative;}
#tile2 {position: relative;  }

#tile1 img{
	position: relative;
	width: 100%;
	height: 450px;
	padding-top: 5%;
	padding-bottom: 5%;
	z-index: 500;
}

#tile2 img{
	position: relative;
	width: 100%;
	height: 430px;
	padding-top: 5%;
	padding-bottom: 5%;
	z-index: 500;
}

#play {opacity: 0;}

#play img{
	position: absolute;
	top: 40%;
	left: 40%;
	padding: 0;
	margin:0;
	height: 60px;
	width: 60px;
}

#tile1:hover{
	opacity: 0.7;
}

#tile1:hover #play{
	opacity: 1;
} 

#tile2:hover{
	opacity: 0.7;
}

#tile2:hover #play{
	opacity: 1;
} 



/*-------------------------------------------------------------*/
.modal-dialog{
	margin-right: auto;
	margin-left: auto;
	width: 70%;

}

.modal-content{
	width: 100%;
	background: transparent;
	text-align: center;
}

iframe{
	/*width: 70%;*/
	width: 100%;
	height: 700px;
}


.endnote{
	text-align: center;
	position: relative;
	padding-top: 1%;
	margin: 0;
	/*padding-bottom: 1%;*/
	font-family: "IM Fell Double Pica" ,"IM Fell English" , serif;
} 

.endnote h2{
	color: #B5B9C5;
}

#social-media-right{
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 4%;
}

#social-media-bottom{
	display: none;
}
/*-----------------------------------------------------------*/

@media (max-width: 992px){
	#page1{
		height: 950px;
	}

	#profilepic img{
		width: 50%;
		height: 50%;
	}
	
	#vbg{
		background-attachment: scroll;
	}
	
	#aboutme{
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
	}

	#aboutme p{
		padding-right: 10%;
		padding-left: 10%;
	}

	#tile1 img{
		height: 400px;
	}

	#tile2 img{
		height: 400px;
	}

	#play img{ height: 60px; }

	.modal-dialog{
		margin-right: auto;
		margin-left: auto;
		width: 90%;
	}


}
/*----------------------------------------------------------*/

@media (max-width: 767px){
	#tile1 img{
		height: 350px;
		padding-top: 8%;
		padding-bottom:8%;
	}

	#tile2 img{
		height: 350px;
		padding-top: 8%;
		padding-bottom:8%;	 	
	}

	#play img{
		padding: 0;
		margin :0;
		height: 50px;
		width: 50px;
	}
}

/*----------------------------------------------------------*/

@media (max-width: 650px){
	
	#page1{
		height: 800px;
	}

	#name h1{
		font-size: 7em;
	}
	

	#profilepic img{
		width: 50%;
		height: 50%;
	}

	#vbg{
		background-image: none;
	}	

	#vbg video{
		height: 100%;
		width: 100%;
		margin:0;
	}

	#blackstrip{
		margin-top: 0;
	}

	#aboutme{
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}

	#aboutme p{
		padding-right: 7%;
		padding-left: 7%;
	}

	iframe{
		height: 570px;
	}

	#social-media-right{
		display: none;
	}
	
	#social-media-bottom{
		display: inline;
	}
}
/*---------------------------------------------------------------*/

@media (max-width: 495px){
	
	#tile1 img{
		height: 240px;
	}

	#tile2 img{
		height: 250px;
	}

	#play img{

		padding: 0;
		margin :0;
		height: 50px;
		width: 50px;

	}

	#aboutme h1{
		font-size: 5em;
	}

}

/*----------------------------------------------------------*/


@media (max-width: 450px){

	#page1{
		height: 720px;
	}

	#name h1{
		font-size: 6em;
	}

	#profilepic img{
		width: 60%;
		height: 60%;
	}

	#aboutme{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	#aboutme p{
		padding-right: 5%;
		padding-left: 5%;
		font-size: 1.2em;

	}

	iframe{
		height: 400px;
	}

	#endnote h3{
		font-size: 0.7em;
	}
}

