*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #0E1017 /*#0E1017/*#1C2833 /*black*/;
}

::-webkit-scrollbar {
  display: none;
 /*hides scroll bar but keeps the fuctionality*/
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.container-fluid{
	width: 100%;
	height: 100%;
	padding: 0;
}

.navbar{
	height: 6%;
	width: 100%;
	background-color:/*#2C3E50*/ black ;
	text-align: center;
	position: fixed;
	
}

.navbar p {
	color: #B5B9C5 /*#93969D /*#F5B041*/;
	font-size: 1.7em;
	font-family: "IM Fell Double Pica" ,"IM Fell English" , serif;
	position: absolute;
  	top: 50%;
  	left: 40%;
  	transform: translateY(-50%);
}

#page1{
	width: 100%;
	background-image: linear-gradient(#0C0D12 ,#0E1017,#161B26 ,#252C3F ,#293146  );
	margin:0;
}

#name{
	width: 25%;
	height: 100%;
	position: relative;
	left:40%;
	margin-top: 8%;
	text-align: center;
	/*margin: 0 auto;*/
}

#name p{
	text-align: center;
	margin-bottom: 0px;
	font-size: 1.2em;
	color: white;
	font-family: "Work Sans", serif; 
	color: #93969D /*#F5B041*/;

}

#name h1{
	margin-top: 0;
	text-align: center;
	font-size: 10em;
	font-weight: bolder;
	color: white;
	font-family: "Staatliches","Work Sans", serif;
	margin-bottom: 0;
	letter-spacing: 0.12em;
}

#name h3{
	margin-top: 0;
	color: white;
	text-align: center;
	font-family: "Nova Flat","Work Sans" ,serif;
	color: #B5B9C5 /*#F5B041*/;
	letter-spacing: 0.1em;
}


#profilepic{
	width: 100%;
}

#profilepic img{
	
	height: 60%;
	width: 53%;
	margin-top: 10%;
	margin-bottom:  10%;
	margin-left: 5%;
}

.social-media{
	height: 30%;
	position: fixed;
	right: 3%;
	top:50%;
	transform: translateY(-50%);
	z-index: 1000;
}

#icon {
	/*padding-bottom: 150%;/*edit this so you can get a proper hover effect
	padding-top: 150%;*/
	margin-top: 150%;
	border-radius: 25px;
}

#icon:hover{
	background-color:  white;
}

#page2{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

}

#blackstrip{
	width: 100%;
	top: 100%;
	background-color: black;
	position: relative;
	margin:0;
}

#vbg{
	width: 100%;
	height: 100%;
	background-image: url('video-bg03.jpg');
	background-size: cover; 
	margin: 0;
	padding: 0;
	position: relative;	
	margin-bottom: 0;
}

#vbg video{
	height: 65%;
	width: 65%;
	position: relative;
	left: 20%;
	margin-top: 7%;
	margin-bottom: 7%; 
}

.aboutme{
	width: 60%;
	height: 60%;
	position: relative;
	left: 0;
	transform : translate(35%,-6%);
	background-color: black;
	margin-top: 0; 
	padding: 0;

}

.aboutme h1{
	text-align: center;
	font-family: "Staatliches","Work Sans", serif;
	font-size: 7em;
	letter-spacing: 0.10em;
	font-weight: bold;
	color: #B5B9C5;
	padding-top: 4%; 
}

.aboutme p{
	
	text-align: center;
	font-size: 1.5em;
	color: white;
	padding: 6%;
}

#page3{
	width: 100%;
	height: 100%;
	background-image: linear-gradient(#293146 ,#252C3F ,#161B26 ,#0E1017,#0C0D12  );
	margin:0;
}

#showreel{
	height: 100%;
	width: 100%;
	margin-top: 7%;
}

#vid-row{
	margin-left:10% ;
	margin-right:10%;
}

.vid-thumb{
	height: 380px;
	width: 480px;
}

.play_button{
	position: relative;
	top: -220px;	
	left: 44%;
	cursor: pointer;
}

.play{
	opacity: 0;
}

#vidz:hover .play{
	opacity : 1 !important;
}

#showreel h1{
	text-align: center;
	font-size: 7em;
	letter-spacing: 1em;
	font-size: bolder;
	margin-top: 0;
	margin-bottom: 0;
	font-family: "Kanit","Work Sans", serif;
	position: relative;
	top: -90px;
	color:#B5B9C5;
}

#vid-row2{
	margin-left:10% ;
	margin-right:10%;
	position: relative;
	top: -120px;
}

.modal-dialog{
	position: relative;
	margin: 0;
	text-align: center;
	left: 17%;

}

.modal-content{
	background: transparent;
	border: none;
	height: 100%;
	width: 100%;
	position: relative;
	left: 0;
}

#end{
	width: 100%;
	background-color: black;
	margin:0;
	padding: 0;
}


.endnote{
	text-align: center;
	position: relative;
	padding-top: 1%;
	margin: 0;
	/*padding-bottom: 1%;*/
	font-family: "IM Fell Double Pica" ,"IM Fell English" , serif;
} 

.endnote h2{
	color: #B5B9C5;
}
